a{
	font-size: 30px;!important
	display: inline-block;!important
	font-weight: 600;!important
}
label{
	font-size: 18px;!important
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 800;!important
}

.wrap-input50 {
    
    display: none;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}
.label-input50 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: green;
  line-height: 1.2;
	text-align: center;
  
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 16px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.dataTables_length *, .dataTables_filter *{
  margin:5px;
  font-size: 16px;
}

.dataTables_info{
  margin-left: 5px;
}

.dataTables_length select option {
  font-size: 14px;
}





.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E80082;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E80082;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider .round {
  border-radius: 34px;
}

.slider .round:before {
  border-radius: 50%;
}

#select{
  padding: 5px 0px;
  border-radius: 10px;
  background-color: #E80082;

  color: white;

  text-align: center;

  margin-right: 0%;

  float: left;

  display: inline-block;

  font-weight: bolder;

  font-size: larger;
}


[aria-expanded="true"] .fa-plus {
  display: none;
}

[aria-expanded="false"] .fa-plus {
  display: block;
}

[aria-expanded="false"] .fa-minus {
  display: none;
}

div.dt-buttons{
  position: relative;
  float: right !important;
  margin-left: 2%;
  padding-top: 10px;
}
#example_filter{
  display: none;
}

.hide-div{
  display: none;
}